PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://project:project2007@cluster0.ce13j8q.mongodb.net/ats_score?appName=Cluster0
JWT_SECRET=ats_jwt_secret_token_change_in_production

# Optional Live API keys (Leaving blank defaults platform to local fallback sandbox engines)
GEMINI_API_KEY=AIzaSyAXnzKxDFcFeFf8hwmMrC7E0WhFwcNzzlk
PINECONE_API_KEY=pcsk_69ek6m_8ND53S3iSYPdiw4QajBtyqt7UwRnpETwyrzVzGwBZCarHMvy4GoRrhskXDqtZQF
PINECONE_ENVIRONMENT=us-east-1
